$primaryTextColor: #ffffff;
$primaryBackgroundColor: #191a30;

$primaryTransition: all 0.4s;

$linkPrimaryTextColor: #000000;
$linkBackBackgroundColor: #ffffff;
$linkBackHoverBackgroundColor: #f9f9f9;