.allHomePageMainDiv {
  padding: 0 38px;
}

.infoPartImg {
  width: 20%;
}

.linkBlock {
  width: 100%;
}

.footerLinkImg {
  width: 40px;
}

.linkName, .linkPlatform {
  font-size: 17px;
}

.linkNameMarginRight {
  margin-right: 22px;
}